@import "../../../../../common";

main {
	padding: 8px 38px;
}

h1 {
	margin: 0;
	padding: 16px 32px;
	font-size: 1.2em;
	font-weight: normal;
	color: #555;
	border-bottom: solid 1px #eee;

	> i {
		margin-right: 0.25em;
	}
}
