article
	h1 直接的に利用しているメジャーなテクノロジー
	div.body
		a.logo-anchor(href='http://bower.io/', target='_blank'): img(src= config.urls.resources + '/common/technologies/bower.svg', alt='Bower')
		a.logo-anchor(href='http://browserify.org/', target='_blank'): img(src= config.urls.resources + '/common/technologies/browserify.png', alt='Browserify')
		a.logo-anchor(href='http://expressjs.com/', target='_blank'): img(src= config.urls.resources + '/common/technologies/express.png', alt='Express')
		a.logo-anchor(href='http://www.graphicsmagick.org/', target='_blank'): img(src= config.urls.resources + '/common/technologies/graphicsmagick.png', alt='GraphicsMagick')
		a.logo-anchor(href='http://gulpjs.com/', target='_blank'): img(src= config.urls.resources + '/common/technologies/gulp.png', alt='Gulp')
		a.logo-anchor(href='http://hapijs.com/', target='_blank'): img(src= config.urls.resources + '/common/technologies/hapi.png', alt='hapi')
		a.logo-anchor(href='http://jade-lang.com/', target='_blank'): img(src= config.urls.resources + '/common/technologies/jade.svg', alt='Jade')
		a.logo-anchor(href='https://letsencrypt.org/', target='_blank'): img(src= config.urls.resources + '/common/technologies/letsencrypt.svg', alt='Let’s Encrypt')
		a.logo-anchor(href='https://www.mongodb.org/', target='_blank'): img(src= config.urls.resources + '/common/technologies/mongodb.png', alt='MongoDB')
		a.logo-anchor(href='https://nodejs.org/en/', target='_blank'): img(src= config.urls.resources + '/common/technologies/nodejs.svg', alt='Node.js')
		a.logo-anchor(href='https://www.npmjs.com/', target='_blank'): img(src= config.urls.resources + '/common/technologies/npm.svg', alt='NPM')
		a.logo-anchor(href='http://redis.io/', target='_blank'): img(src= config.urls.resources + '/common/technologies/redis.png', alt='Redis')
		a.logo-anchor(href='http://socket.io/', target='_blank'): img(src= config.urls.resources + '/common/technologies/socketio.svg', alt='Socket.IO')
		a.logo-anchor(href='http://www.typescriptlang.org/', target='_blank'): img(src= config.urls.resources + '/common/technologies/typescript.png', alt='TypeScript')
