extends ../../base

block title
	| Misskey 利用規約

block body
	main
		h1 Misskey サービス利用規約
		p
			| このサービス利用規約 (以下、「本規約」と称します) は、様々なMisskeyのサービス (以下、「Misskeyサービス」と称します) と、本規約に関連するMisskeyの他の対象サービス (以下、Misskeyサービスとあわせ「本サービス」と総称します)、ならびに本サービスにアップロード、ダウンロードまたは表示される情報、テキスト、グラフィックス、写真、その他のマテリアル (以下、「コンテンツ」と総称します) にアクセスし、利用する場合に適用されるものです。本サービスへのアクセスと利用のためには、本規約に同意しこれを遵守することが条件となります。ユーザーが本サービスへアクセス、または利用した場合には、本規約に拘束されることに同意したことになります。
		section
			h2 基本条件
			p ユーザーは、本サービスの利用、投稿したコンテンツのすべておよびこれらによって引き起こされる結果のすべてについて責任を負います。ユーザーがMisskeyサービスを通じて送信、投稿または表示するほとんどのコンテンツは、デフォルトで公開され、本サービスの他の利用者によって閲覧可能となり、かつ、他社のサービスやウェブサイトを通じても閲覧可能になります。本規約に基づいて他の人たちと共有して差し支えないものに限定してください。
			p 本サービスを利用できるのは、ユーザーがMisskeyと拘束力のある契約を締結することができ、かつ米国または適用ある他法域の法令によりサービスの使用を禁じられている者でない場合に限ります。特定の企業、組織、政府、その他の法人を代表して本規約に同意し本サービスを利用する場合、ユーザーは、そのような権限を有していることを表明し保証するものとします。本サービスを利用できるのは、本規約を遵守し、かつ適用ある地方自治体、州、国および国際的な法令その他の各種規則のすべてを遵守している場合に限ります。
			p Misskeyが提供する本サービスは常に進化し続けており、その形態と内容は、ユーザーに事前に通知することなく随時変更されることがあります。またMisskeyは、ユーザーまたは利用者全般に対する本サービス (または本サービスの一部) の提供を (永久的または一時的に) 中止することができ、これをユーザーに事前に通知できない場合もあります。さらに当方は、ユーザーに事前に通知することなく、いつでも当方の独自の判断により利用と保存に制限を設ける権利を留保します。
			p 本サービスには本サービス上のコンテンツや情報、本サービスを通じてなされる問い 合わせやその他のあらゆる情報を対象としている広告が含まれる場合があります。当方が本サービス上で提供する広告の種類と規模は随時変更されます。ユーザーは、Misskeyより本サービスへのアクセスとその利用について許諾を受けることの対価として、Misskeyおよびその第三者プロバイダーまたは パートナーが、本サービス上にまたは本サービスからのコンテンツや情報 (その提供者がユーザーであるか他の者であるかを問わず) の表示に伴い、広告を掲載することに同意するものとします。
		section
			h2 パスワード
			p ユーザーは、本サービスにアクセスするときに使うパスワードの管理、および自己のパスワードを使用した行為や操作について責任を負うものとします。アカウントにはセキュリティ性の高いパスワード (大文字、小文字、数字、記号を組み合わせたもの) を使用されることをお勧めします。Misskeyは、ユーザーがこれを遵守しないことに起因する損失や損害について、一切責任を負いません。
		section
			h2 本サービス上のコンテンツ
			p 公的な投稿であるか私的な通信であるかを問わずすべてのコンテンツは、そのコンテンツの作成者が単独で責任を負うものとします。当方は、本サービスを介して投稿されるコンテンツを監視または管理しない場合があり、そのようなコンテンツについて責任を負うことはできません。本サービスを介して投稿されたか、またはユーザーが取得したコンテンツやマテリアルへの依拠またはこれらの使用は、ご自身の責任において行ってください。
			p 当方は、本サービスを介して投稿されたいかなるコンテンツや通信内容についても、その完全性、真実性、正確性、もしくは信頼性を是認、支持、表明もしくは保証するものではなく、また本サービスを介して表示されるいかなる意見についても、それらを是認するものではありません。ユーザーは、本サービスの利用を通じて、不快な、有害な、不正確なあるいは不適切なコンテンツ、また場合によっては、誤った表示がなされているかその他虚偽的な投稿に接する可能性があることを、理解しているものとします。Misskeyは、いかなる状況においても、コンテンツの誤りもしくは欠落、または本サービスを介して投稿、メール送信あるいは 転送もしくはその他の方法で利用可能となったコンテンツや他の場所に配信されたコンテンツの使用に起因する損失もしくは損害をはじめ (ただし、これらに限定されません) いかなるコンテンツについても一切責任を負いません。
		section
			h2 ユーザーの権利
			p ユーザーは、本サービス上にまたは本サービスを介して、自ら送信、投稿、または表示するあらゆるコンテンツに対する権利を留保するものとします。ユーザーは、 本サービス上にまたは本サービスを介してコンテンツを送信、投稿、表示することをもって、媒体または配布方法 (既知のまたは今後開発されるもの) を問わず、かかるコンテンツを使用、コピー、複製、処理、改変、修正、公表、送信、表示および配布するための、世界的な非排他的ライセンスを (サブライセンスを許諾する権利と共に) 当方に対して無償で許諾するものとします。
			p ユーザーは、このライセンスに、Misskeyが本サービスを提供、宣伝および向上させるための権利が含まれること、ならびにコンテンツ利用に関する当方の条件に従うことを前提として、本サービスに対しまたは本サービスを介して送信したコンテンツを、他の媒体やサービスで配給、配信、配布または公表することを目的として、当方のパートナーとなっている他の会社、組織または個人に対して提供する権利が含まれることに、同意したものとします。
			p Misskey、またはMisskeyのパートナーとなっている他の会社、組織または個人は、本サービスを介してユーザーが送信、投稿、転送または提供するコンテンツについて、ユーザーに報酬を支払うことなく上記のように追加的に利用できるものとします。
			p 当方は、ユーザーのコンテンツをコンピュータネットワーク上や様々な媒体において送信、表示、もしくは配布するために修正または改変できるものとし、さらに／またはネットワーク、端末、サービスまたは媒体の要件もしくは制限に適合させるために、必要に応じてユーザーのコンテンツに変更を加えることができるものとします。
			p ユーザーは、他の利用者や当方の第三者パートナーがユーザーのコンテンツを使用した場合を含め、本サービスの利用、提供した一切のコンテンツ、およびそれらの結果について責任を負うものとします。ユーザーは、当方のパートナーがユーザーのコンテンツを配給、配信、配布または公表できることを理解しており、送信したコンテンツの利用について正当な権利を有していない場合には、責任を問われる可能性があることを理解しています。Misskeyによるユーザーのコンテンツの使用については、本規約に従った使用がなされている限り、Misskeyには責任がないものとします。 ユーザーは、自ら送信する一切のコンテンツにつき、本規約に基づき付与される権利を許諾するために必要なすべての権利および権限を有していることを表明し保証するものとします。
		section
			h2 コンテンツおよび本サービスの利用に対する制限
			p 当方は、いかなるときも、ユーザーに対して責任を負うことなく、本サービス上のコンテンツを削除しまたは配布を拒否し、利用者の利用停止または削除を行い、利用者名の返還を要求する権利を留保します (ただし、これは義務ではありません)。当方はさらに、(i) 適用あるすべての法令や規則、法的手続や政府の要請へ対応し、(ii) 本規約を実施し (規約違反の疑いがある場合にその調査を含みます)、(iii) 不正利用、セキュリティもしくは技術的な問題を検知、防止もしくはその対処をし、(iv) 利用者からのサポート要請へ対応し、または (v) Misskeyやその利用者および社会全体の権利、財産もしくは安全を保護するために、当方が必要と合理的に判断するすべての情報について、アクセス、閲覧、保存、および公開する権利を留保します。
			p ユーザーは、本サービスへアクセスし、またはこれを利用している間、次のいずれをも行ってはならないものとします。
			ul
				li: 本サービス、MisskeyのコンピュータシステムまたはMisskeyのプロバイダーのテクニカルデリバリーシステムの非公開部分にアクセスするか、これを改ざんまたは使用すること。
				li: いずれかのシステムやネットワークの脆弱性を調査、スキャン、テストすること、またはいずれかのセキュリティ手段や認証手段に違反したりこれを回避したりすること。
				li: Misskeyから提供されている当方の現在利用可能な公開インターフェースを経由する (かつ、該当する使用条件に従う) ことなく、その他の何らかの手段 (自動その他を問わず) で本サービスへのアクセスもしくはその検索を行うか、またはアクセスもしくは検索を試みること。ただし、Misskeyと別途締結した契約によりこれを行うことが特に認められている場合はこの限りではありません (注: 本サービスのクローリングは、robots.txtファイルの定めによる場合には許されます。ただし、Misskeyの事前の承諾なしに本サービスのスクレイピングを行うことは明示的に禁じられています)。
				li: いずれかのメールもしくは投稿に含まれるTCP/IPパケットヘッダーもしくはヘッダー情報の一部を偽造すること、または方法の如何を問わず、改ざんされた情報、詐欺的情報もしくは情報源を偽装した情報を送る目的で本サービスを利用すること。
				li: 本サービスに対するウイルスの送信、オーバーロード、フラッディング、スパミング、メールの大量送信、または本サービスの妨害もしくは本サービスに過度の負担を与えるべくコンテンツの作成をスクリプトすることを含むがこれらに限定されない方法により、いずれかの利用者、ホストまたはネットワークのアクセスを妨害または中断すること (あるいはそれを試みること)。
		section
			h2 著作権ポリシー
			p Misskeyは他者の知的財産権を尊重しており、本サービスの利用者にも同様に尊重することを期待しています。当方は、適用ある法令に従って、かつ適切な方法で当方に通知がなされた場合には、その著作権侵害容疑の通知に対応します。ご自身のコンテンツが著作権を侵害する手法でコピーされたと判断された場合は、当方に対して次の情報を提供してください。
			ul
				li: 著作権所有者または著作権所有者を正式に代理する者の物理的署名または電子署名。
				li: 侵害を受けたと主張する著作物を特定する情報。
				li: 著作権侵害を発生させているかまたは侵害行為の主体であると主張する、削除またはアクセス不能にすべき対象物を特定する情報、およびその対象物を当方が探し出すために合理的に十分な情報。
				li: 住所、電話番号およびメールアドレスを含むご自身の連絡先情報。
				li: 問題視している対象物の使用方法が、著作権所有者、その代理人、または法令により許されないものであるとご自身で誠実に判断している旨の表明。
				li: 通知の内容が正確であること、かつ、虚偽の供述を行うと偽証罪に問われることを承知の上で、ご自身が著作権所有者を代理する権限を有している旨の表明。
		p 当方は、予告なしで、かつユーザーに対して何らの責任を負うことなく、当方独自の判断により侵害の疑いのあるコンテンツを削除する権利を留保します。また、いずれかの利用者が侵害行為を繰り返していると判断した場合、当方は、適切な状況において、当該利用者のアカウントを削除します。
