extends ../../../ui

block title
	=locale.sites.mobile.pages.search.index.page_title

block header
	i.fa.fa-search
	=locale.sites.mobile.pages.search.index.page_header_title

block content
	main
		form(action= config.searchUrl, method='GET')
			input.ui-input-text(type='text', name='q', placeholder=locale.sites.mobile.pages.search.index.input_placeholder, equired)
			input.ui-button(type='submit', value=locale.sites.mobile.pages.search.index.submit)
