@import "../../common/styles/ui";

html, #misskey-main {
	color: #333;
	background: #fff;
}

main {
	form {
		padding: 0 8px;

		h1 {
			display: block;
			margin: 8px 0;
			padding: 0;
			font-size: 1em;
			color: #666;
		}

		textarea {
			margin: 8px 0;
		}

		[type=submit] {
			margin: 8px 0;
		}
	}
}
