extends ../layout
include ../lib/post/smart/post

block title
	| Misskey

block assets
	link(rel='stylesheet', href='/resources/mobile/styles/page/home.css')
	script(src='/resources/mobile/scripts/page/home.js')

block header
	i.fa.fa-home
	| Home

block body
	main(role='main')
		div#timeline
			div.posts
				if timeline.length > 0
					each post in timeline
						+post(post)
			if posts.length == 0
				p.empty
					| タイムラインに表示するコンテンツがありません。
					br
					| フォローしている人の投稿と、自分の投稿がここに表示されます。
