extends ../layout

block title
	| Not found

block meta
	meta(name='description', content='Not found')

block assets
	link(rel='stylesheet', href='/resources/mobile/styles/page/not-found.css')
	script(src='/resources/mobile/scripts/common/ui.js')

block h1
	| Oops!

block body
	main(role='main')
		h1 Not found
		p コンテンツが見つかりません。
