div.misskey-home-widget#widget-ad(data-widget-id='ad', data-widget-name='AD').
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Home -->
	<ins class="adsbygoogle"
		style="display:block"
		data-ad-client="ca-pub-6690007638570619"
		data-ad-slot="1203284285"
		data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
