div.misskey-home-widget#widget-my-status(data-widget-id='my-status', data-widget-name='ステータス')
	header
		a.avatar-anchor(href='/' + me.screenName)
			img.avatar(src=me.avatarThumbnailUrl, alt='avatar')
		h1= me.name
	nav(role='navigation')
		table.status
			tr
				td: a(href='/' + me.screenName)= me.postsCount
				td: a(href='/' + me.screenName + '/following')= me.followingCount
				td: a(href='/' + me.screenName + '/followers')= me.followersCount
			tr
				th Posts
				th Following
				th Followers
