include ../post/smart/post

div.misskey-home-widget#widget-timeline(
		data-widget-id='timeline',
		data-widget-name='タイムライン')
	div.timeline
		div.posts
			if posts.length > 0
				each post in posts
					+post(post)
		if posts.length > 0
			button.read-more
				| もっと読み込む
		if posts.length == 0
			p.empty
				| タイムラインに表示するコンテンツがありません。
				br
				| フォローしている人の投稿と、自分の投稿がここに表示されます。
