#misskey-album {
	> .files {
		margin: 0;
		padding: 0;
		list-style: none;

		&:after {
			content: '';
			display: block;
			clear: both;
		}

		> .item {
			display: block;
			float: left;
			margin: 16px;
			padding: 0;
			width: 128px;
			height: 128px;

			> .context-menu {
				display: none;
			}

			> .content {
				position: relative;
				width: 100%;
				height: 100%;
				border: solid 1px #eee;

				> .name {
					display: block;
					position: absolute;
					top: 128px;
					width: 100%;
					margin: 0;
					padding: 8px 0;
					text-align: center;
				}
			}

			&.file {
				> .content {
					background-color: #fff;
					background-repeat: no-repeat;
					background-position: center center;
					background-size: cover;
				}
			}
		}
	}
}
