@import "../../common";

*:not(i) {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	cursor: default;
	font-family: '游ゴシック', 'YuGothic', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'Meiryo', 'メイリオ', 'Meiryo UI', sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	color: #444;
	background-color: #fff;
	background-image: url("#/desktop/pages/entrance/bg.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	&.logging {
		&, * {
			cursor: wait !important;
		}
	}
}

body {
	position: relative;
	padding-bottom: 32px;
}

text-input() {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	user-select: text;
	-moz-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	display: inline-block;
	cursor: auto;
	box-sizing: border-box;
	padding: 0 12px;
	margin: 0;
	width: 100%;
	line-height: 44px;
	font-size: 1em;
	color: #333 !important;
	background: #fff !important;
	outline: none;
	border: solid 1px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	box-shadow: 0 0 0 114514px #fff inset;
	transition: all .3s ease;
	font-family: 'Meiryo', 'メイリオ', 'Meiryo UI', '游ゴシック', 'YuGothic', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', sans-serif;

	&:hover {
		border-color: rgba(0, 0, 0, 0.2);
		transition: all .1s ease;
	}

	&:focus {
		color: $theme-color !important;
		border-color: $theme-color;
		box-shadow: 0 0 0 1024px #fff inset, 0 0 0 4px rgba($theme-color, 10%);
		transition: all 0s ease;
	}

	&:disabled {
		opacity: 0.5;
	}
}

body > header {
	display: block;
	box-sizing: border-box;
	padding: 32px 64px;
	text-align: center;
	color: #fff;

	h1 {
		display: block;
		margin: 0;
		padding: 0;
		font-size: 2em;
		font-weight: normal;
		color: rgba(0, 0, 0, 0.5);
		opacity: 1;
	}

	p {
		display: block;
		margin: 0;
		padding: 8px 0 0 0;
		color: rgba(0, 0, 0, 0.4);
		opacity: 1;
	}
}

body > main {
	display: block;
	position: relative;
	box-sizing: border-box;
	width: 380px;
	margin: 0 auto;
	padding: 32px;
	background-image: url("#/desktop/pages/entrance/bg.blur.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-clip: padding-box;
	//border-left: solid 16px $theme-color;
	border: solid 1px rgba(0, 0, 0, 0.1);
	border-radius: 4px;

	#login-form-container {
		position: relative;
		left: 0;
		opacity: 1;

		#loading {
			position: absolute;
			z-index: 1;
			width: 100%;
			height: 100%;

			.sk-folding-cube {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin: auto;
				width: 80px;
				height: 80px;
				-webkit-transform: rotateZ(45deg);
				transform: rotateZ(45deg);
			}

			.sk-folding-cube .sk-cube {
				float: left;
				width: 50%;
				height: 50%;
				position: relative;
			}
			.sk-folding-cube .sk-cube:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				box-sizing: border-box;
				background-color: rgba(255, 255, 255, 0.1);
				background-clip: padding-box;
				border: solid 1px rgba(0, 0, 0, 0.2);
				-webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
				animation: sk-foldCubeAngle 2.4s infinite linear both;
				-webkit-transform-origin: 100% 100%;
				-ms-transform-origin: 100% 100%;
				transform-origin: 100% 100%;
			}
			.sk-folding-cube .sk-cube2 {
			  -webkit-transform: rotateZ(90deg);
			          transform: rotateZ(90deg);
			}
			.sk-folding-cube .sk-cube3 {
			  -webkit-transform: rotateZ(180deg);
			          transform: rotateZ(180deg);
			}
			.sk-folding-cube .sk-cube4 {
			  -webkit-transform: rotateZ(270deg);
			          transform: rotateZ(270deg);
			}
			.sk-folding-cube .sk-cube2:before {
			  -webkit-animation-delay: 0.3s;
			          animation-delay: 0.3s;
			}
			.sk-folding-cube .sk-cube3:before {
			  -webkit-animation-delay: 0.6s;
			          animation-delay: 0.6s;
			}
			.sk-folding-cube .sk-cube4:before {
			  -webkit-animation-delay: 0.9s;
			          animation-delay: 0.9s;
			}
			@-webkit-keyframes sk-foldCubeAngle {
			  0%, 10% {
			    -webkit-transform: perspective(140px) rotateX(-180deg);
			            transform: perspective(140px) rotateX(-180deg);
			    opacity: 0;
			  } 25%, 75% {
			    -webkit-transform: perspective(140px) rotateX(0deg);
			            transform: perspective(140px) rotateX(0deg);
			    opacity: 1;
			  } 90%, 100% {
			    -webkit-transform: perspective(140px) rotateY(180deg);
			            transform: perspective(140px) rotateY(180deg);
			    opacity: 0;
			  }
			}

			@keyframes sk-foldCubeAngle {
			  0%, 10% {
			    -webkit-transform: perspective(140px) rotateX(-180deg);
			            transform: perspective(140px) rotateX(-180deg);
			    opacity: 0;
			  } 25%, 75% {
			    -webkit-transform: perspective(140px) rotateX(0deg);
			            transform: perspective(140px) rotateX(0deg);
			    opacity: 1;
			  } 90%, 100% {
			    -webkit-transform: perspective(140px) rotateY(180deg);
			            transform: perspective(140px) rotateY(180deg);
			    opacity: 0;
			  }
			}
		}

		#login {
			display: block;
			position: relative;
			z-index: 2;
			box-sizing: border-box;
			padding: 10px 32px 0 32px;
			background: #fff;
			background-clip: padding-box;
			//border: solid 8px rgba(0, 0, 0, 0.05);
			border: solid 1px rgba(0, 0, 0, 0.1);
			border-radius: 4px;

			h2 {
				display: block;
				margin: 0;
				padding: 0;
				height: 54px;
				line-height: 54px;
				text-align: center;
				text-transform: uppercase;
				font-size: 1em;
				font-weight: bold;
				color: #888;
				border-bottom: solid 1px #eee;

				p {
					display: inline;
					margin: 0;
					padding: 0;
				}

				#avatar {
					display: inline-block;
					position: relative;
					top: 10px;
					width: 32px;
					height: 32px;
					margin-right: 8px;
					border-radius: 100%;

					&[src=''] {
						display: none;
					}
				}
			}

			label {
				display: block;
				position: relative;
				margin: 12px 0;

				i {
					display: block;
					pointer-events: none;
					position: absolute;
					bottom: 0;
					top: 0;
					left: 0;
					z-index: 1;
					margin: auto;
					padding: 0 16px;
					height: 1em;
					color: #898786;
				}

				input[type=text],
				input[type=password] {
					text-input();
					padding: 0 0 0 38px;

					&:hover + i {
						color: #797776;
					}
				}
			}

			[type=submit] {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				cursor: pointer;
				box-sizing: border-box;
				padding: 16px 16px 32px 16px;
				margin: -6px 0 0 0;
				width: 100%;
				font-size: 1.2em;
				color: #555;
				outline: none;
				border: none;
				border-radius: 0;
				box-shadow: none;
				background: transparent;
				transition: all .5s ease;
				font-family: FontAwesome, '游ゴシック', 'YuGothic', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'Meiryo UI', 'Meiryo', 'メイリオ', sans-serif;

				&:hover {
					color: $theme-color;
					transition: all .2s ease;
				}

				&:focus {
					color: $theme-color;
					transition: all .2s ease;
				}

				&:active {
					color: darken($theme-color, 30%);
					transition: all .2s ease;
				}
			}
		}
	}

	#signup-form {
		display: none;
		position: absolute;
		top: 32px;
		left: 100%;
		box-sizing: border-box;
		padding: 18px 32px 0 32px;
		width: 368px;
		background: #fff;
		background-clip: padding-box;
		border: solid 1px rgba(0, 0, 0, 0.1);
		border-radius: 4px;

		*:not(i) {
			font-family: 'Meiryo', 'メイリオ', 'Meiryo UI', '游ゴシック', 'YuGothic', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', sans-serif;
		}

		label {
			display: block;
			position: relative;
			margin: 16px 0;

			> .caption {
				margin: 0 0 4px 0;
				color: #888482;
				font-size: 0.95em;

				> i {
					margin-right: 0.25em;
					color: #b79787;
				}
			}

			> .info {
				display: block;
				margin: 4px 0;
				font-size: 0.8em;

				&[data-state='none'] {
					display: none;
				}

				&[data-state='error'] {
					color: #FF1161;
				}

				&[data-state='processing'] {
					color: #999;
				}

				&[data-state='ok'] {
					color: #3CB7B5;
				}

				> i {
					margin-right: 0.3em;
				}
			}

			&.user-name {
				.profile-page-url-preview {
					display: block;
					margin: 4px 8px 0 4px;
					font-size: 0.8em;
					color: #888;

					&:empty {
						display: none;
					}

					& + .info {
						margin-top: 0;
					}
				}
			}
		}

		[type=text], [type=password] {
			text-input();
		}

		.agree-tou {
			padding: 4px 0;

			p {
				display: inline;
				color: #555;
			}
		}

		[type=submit] {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			cursor: pointer;
			display: block;
			box-sizing: border-box;
			position: relative;
			padding: 12px;
			margin: 20px 0 32px 0;
			width: 100%;
			font-size: 1em;
			color: #fff;
			outline: none;
			border: none;
			border-radius: 3px;
			box-shadow: none;
			background: $theme-color;

			* {
				pointer-events: none;
			}

			&:before {
				content: "";
				display: block;
				width: 48px;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: rgba(0, 0, 0, 0.1);
				border-radius: 3px 0 0 3px;
			}

			> i {
				display: block;
				width: 48px;
				height: 1em;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				margin: auto 0;
			}

			&:disabled {
				opacity: 0.5;
			}

			&:hover {
				background: darken($theme-color, 5%);
			}

			&:active {
				background: darken($theme-color, 10%);
			}
		}
	}

	#new {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		display: block;
		position: relative;
		box-sizing: border-box;
		width: 314px;
		margin-top: 24px;
		padding: 18px 18px 18px 36px;
		line-height: 1em;
		font-family: '游ゴシック', 'YuGothic', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'Meiryo', 'メイリオ', 'Meiryo UI', sans-serif;
		font-size: 1em;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		text-decoration: none;
		outline: 0;
		border: 0;
		border-radius: 4px;
		box-shadow: none;
		background: $theme-color;
		overflow: hidden;
		cursor: pointer;
		opacity: 1;

		* {
			pointer-events: none;
		}

		i {
			position: absolute;
			top: 0;
			left: 0;
			padding: 18px;
			background: rgba(0, 0, 0, 0.1);
		}

		&:hover {
			text-decoration: none;
			background: darken($theme-color, 5%);
		}

		&:active {
			text-decoration: none;
			background: darken($theme-color, 10%);
		}
	}
}
