extends ../../../layout
include ./common

block title
	| トーク

block header
	| トーク
		
block content
	body
		div#search(role='search')
			div.form
				input(type='search', placeholder!='&#xf002; ユーザーを探してトークを開始')
			div.result
		main(role='main')
			if messages != null && messages.length > 0
				ol#talks
					each message in messages
						case message.type
							when 'user-message'
								+user-message(message)
							when 'group-message'
								+group-message(message)
							when 'group-send-invitation-activity'
								+group-send-invitation-activity(message)
							when 'group-member-join-activity'
								+group-member-join-activity(message)
			else
				p#empty-histories
					| 履歴はありません。
					br
					| ユーザーを検索して、いつでもトークを開始できます。
