extends ../main

append assets
	script!= 'var TALK_TYPE = "user";'
	script!= 'eval(decodeURIComponent("' + encodeURIComponent('var OTHERPARTY = ' + JSON.stringify(otherparty) + '; Object.freeze(OTHERPARTY);') + '"));'

append meta
	meta(name='description', content='Misskey Talk')

block title
	= 'トーク: ' + otherparty.name

block empty-stream-message
	| このユーザーとまだ会話したことはありません
