@import "../base";
@import (inline) "../../../../../../../bower_components/cropper/dist/cropper.css";

main {
	#avatar {
		display: block;
		width: 64px;
		height: 64px;
		margin: 16px auto;
		border: solid 2px #fff;
	}
}
