@import "../base";
@import (inline) "../../../../../../../bower_components/cropper/dist/cropper.css";

main {
	display: block;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
	max-width: 500px;
	
	#avatar {
		display: block;
		width: 64px;
		height: 64px;
		margin: 16px auto;
		border: solid 4px #fff;
	}

	#form {
		padding: 0 8px;

		.caption {
			margin: 1em;
			text-align: center;
			color: #444;
		}

		progress {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			display: none;
			margin: 8px 0;
			width: 100%;
			height: 8px;
			border: none;
			border-radius: 4px;
			overflow: hidden;

			&::-webkit-progress-value {
				background-color: @theme-color;
			}

			&::-webkit-progress-bar {
				background-color: #fff;
			}

			&:not([value])::-webkit-progress-bar {
				background-image: url("@{resources-url}/mobile/common/images/indeter.gif");
			}
		}
	}

	@media (min-width: 516px) {
		padding-top: 16px;
	}
}

body {
	> .crop-form {
		position: fixed;
		z-index: 2048;
		top: 0;
		width: 100%;
		height: 100%;

		> p {
			display: block;
			box-sizing: border-box;
			position: fixed;
			z-index: 1;
			top: 0;
			margin: 0;
			padding: 0.5em;
			width: 100%;
			text-align: center;
			font-size: 0.9em;
			color: #fff;
			background: #424A4C;
		}

		> .buttons {
			display: block;
			box-sizing: border-box;
			position: fixed;
			z-index: 1;
			bottom: 0;
			margin: 0;
			padding: 0 4px;
			width: 100%;
			color: #fff;
			background: #424A4C;

			&:after {
				content: '';
				display: block;
				clear: both;
			}

			button {
				display: block;
				float: right;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				box-sizing: border-box;
				margin: 8px 4px;
				padding: 10px 16px;
				text-align: center;
				touch-action: manipulation;
				cursor: pointer;
				font-size: 1em;
				border: none;
				border-radius: 4px;

				&.ok {
					color: #fff;
					font-weight: bold;
					background: @theme-color;
					background: -moz-linear-gradient(top, @theme-color 0%, darken(@theme-color, 10%) 100%);
					background: -webkit-linear-gradient(top, @theme-color 0%, darken(@theme-color, 10%) 100%);
					background: linear-gradient(to bottom, @theme-color 0%, darken(@theme-color, 10%) 100%);
					border: solid 1px darken(@theme-color, 10%);
				}

				&.cancel {
					color: #444;
					font-weight: normal;
					background: #fff;
					background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
					background: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
					background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
					border: solid 1px #eee;
				}

				&:disabled {
					opacity: 0.5;
				}

				> i {
					margin-right: 0.25em;
				}
			}
		}

		> .container {
			width: 100%;
			height: 100%;
		}
	}
}
