extends ../../../../ui

block title
	| ヘッダー画像の設定 - Misskey

block header
	i.fa.fa-cog
	| ヘッダー画像

block content
	main(role='main')
		img#banner(src= me.bannerThumbnailUrl, alt='banner')
		div#form
			label
				p.caption
					| ヘッダーに使用する画像をアップロード
				input.ui-input-file(name='file', type='file', accept='image/*')
				progress
			button.ui-button.submit
				| 決定
