-
	function escapeHtml(text) {
		return text.replace(/>/g,'&gt;').replace(/</g,'&lt;');
	}
	
	function parse(text) {
		'use strict';
		if (text === null) {
			return null;
		}
		text = analyzeHashtags(analyzeMentions(analyzeUrl(escapeHtml(text)))).replace(/(\r\n|\r|\n)/g, '<br>');
		return text;
	}
	
	function analyzeUrl(text) {
		'use strict';
		return text.replace(/https?:\/\/[\w\/:%#\$&\?\(\)~\.=\+\-]+/g, function(url) {
			return '<a href="' + url + '" title="' + url + '" target="_blank" class="url">' + url + '</a>';
		});
	}

	function analyzeMentions(text) {
		'use strict';
		return text.replace(/@([a-zA-Z0-9\-]+)/g, function(arg, screenName) {
			return '<a href="' + config.url + '/' + screenName + '" class="mention">@' + screenName + '</a>';
		});
	}

	function analyzeHashtags(text) {
		'use strict';
		return text.replace(/(^|\s)#(\S+)/g, function(arg, _, tag) {
			return _ + '<a href="' + config.url + '/search/hashtag:' + tag + '" class="hashtag">#' + tag + '</a>';
		});
	}
