extends ../../../base
include ../../../common/views/talk/messages

block meta
	script!= 'var OTHERPARTY = ' + JSON.stringify(otherparty) + ';'

block assets
	script(src= config.webStreamingUrl + '/socket.io/socket.io.js')

block title
	= 'トーク: ' + otherparty.name
		
block body
	main
		div#stream
			if messages.length == 0
				p#empty-stream
					i.fa.fa-info-circle
					| このユーザーとまだ会話したことはありません
			+messages(messages)
		div#otherparty-status
		form#post-form
			div.grippie(title='ドラッグしてフォームの広さを調整できます')
			textarea(name='text', placeholder='ここにメッセージを入力')
			div.uploads
			div.files
			button(type='submit', title='メッセージを送信')
				i.fa.fa-paper-plane
			button.attach-from-local(type='button', title='PCから画像を添付する')
				i.fa.fa-upload
			button.attach-from-album(type='button', title='アルバムから画像を添付する')
				i.fa.fa-folder-open
			input(name='file', type='file', accept='image/*')
