@import "./style";

html {
	color: #fff;
	background: #191919;
}

.misskey-home-widget {
	display: block;
	position: relative;
	margin: 12px 0;
	color: #555;

	&:empty {
		display: none;
	}

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

#widget-timeline {
	.timeline {
		@import "../../common/styles/timeline.dark.less";
	}
}

