@import "../../home/style";

.misskey-home-widget-lapper {
	display: block;
	position: absolute;
	z-index: 128;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: move;

	&:hover {
		> button {
			display: block !important;
		}

		> .caption {
			// display: block !important;
		}
	}

	> button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		display: none !important;
		position: absolute;
		top: 0;
		right: 0;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		width: 32px;
		height: 32px;
		color: #fff;
		border: none;
		outline: none;
		background: transparent;
		cursor: pointer;

		&:hover {
			background: rgba(0, 0, 0, 0.1);
		}

		&:active {
			background: rgba(0, 0, 0, 0.2);
		}

		* {
			pointer-events: none;
		}
	}

	> .caption {
		display: none !important;
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 8px;
		color: #fff;
		font-size: 0.8em;
		background: #000;
	}
}

#customizer-nav-container {
	width: 100%;
	color: #fff;
	background: rgba(0, 0, 0, 0.7);

	$nav-height: 50px;
	$nav-vertical-padding: 8px;

	#customizer-nav {
		box-sizing: border-box;
		margin: 0 auto;
		padding: $nav-vertical-padding 0;
		max-width: 1200px;
		width: 100%;
		height: $nav-height;

		&:after {
			content: "";
			display: block;
			clear: both;
		}

		.add-widget-form {
			float: left;

			> p {
				display: inline-block;
				vertical-align: top;
				margin: 0 8px;
				line-height: $nav-height - ($nav-vertical-padding * 2);
			}

			select {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				display: inline-block;
				min-width: 16em;
				padding: 0 16px;
				vertical-align: top;
				line-height: $nav-height - ($nav-vertical-padding * 2) - 4px;
				color: #fff;
				background: transparent;
				border: 2px solid rgba(255, 255, 255, 0.5);
				border-radius: 4px;
				outline: none;
				box-shadow: none;

				option {
					padding: 8px 16px;
				}

				&:hover {
					border: solid 2px $theme-color;
					transition: border 0.2s ease, box-shadow 0.2s ease;
				}

				&:focus {
					color: $theme-color;
					border: solid 2px $theme-color;
					transition: color 0, border 0.5s ease, box-shadow 0.05s ease;
				}
			}

			button {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				display: inline-block;
				vertical-align: middle;
				box-sizing: border-box;
				margin: 0 8px;
				padding: 0 12px;
				line-height: $nav-height - ($nav-vertical-padding * 2);
				font-size: 1em;
				font-weight: normal;
				text-decoration: none;
				color: contrast($theme-color, #000, #fff, 70%);
				background: $theme-color;
				outline: none;
				border: none;
				border-radius: 2px;
				box-shadow: none;
				transition: background 0.1s ease;

				> i {
					margin-right: 0.25em;
				}

				&, * {
					cursor: pointer;
				}

				&:hover {
					background: lighten($theme-color, 10%);
				}

				&:active {
					background: darken($theme-color, 10%);
					transition: background 0s ease;
				}
			}
		}

		.save-or-cancel {
			float: right;

			button {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				display: inline-block;
				vertical-align: middle;
				box-sizing: border-box;
				margin: 0 8px;
				padding: 0 12px;
				line-height: $nav-height - ($nav-vertical-padding * 2);
				font-size: 1em;
				font-weight: normal;
				text-decoration: none;
				color: contrast($theme-color, #000, #fff, 70%);
				background: $theme-color;
				outline: none;
				border: none;
				border-radius: 2px;
				box-shadow: none;
				transition: background 0.1s ease;

				> i {
					margin-right: 0.25em;
				}

				&, * {
					cursor: pointer;
				}

				&:hover {
					background: lighten($theme-color, 10%);
				}

				&:active {
					background: darken($theme-color, 10%);
					transition: background 0s ease;
				}
			}

			> #customizer-cancel-button {
				background: #7e7e7e !important;

				&:hover {
					background: #8e8e8e !important;
				}

				&:active {
					background: #6e6e6e !important;
					transition: background 0s ease;
				}
			}
		}
	}
}

#customizer-garbage-storage {
	display: none;
}

main {
	#contents {
		#main-contents {
			position: relative;
			flex: 1 1 560px;
			box-sizing: border-box;
			max-width: 560px;
			margin: 0;
			padding: 16px;
		}

		#left-contents {
			position: relative;
			flex: 1 1 270px;
			max-width: 270px;
			margin: 0;
			padding: 16px 0 16px 16px;
		}

		#right-contents {
			position: relative;
			flex: 1 1 270px;
			max-width: 270px;
			margin: 0;
			padding: 16px 16px 16px 0;
		}
	}
}
