extends ../../../../ui

block title
	| ロケーションの設定 - Misskey

block header
	i.fa.fa-cog
	| ロケーション

block content
	main(role='main')
		form#form
			input.ui-input-text(name='location', type='text', value= me.location)
			button.ui-button(type='submit')
				| 更新
