extends ../main

block meta
	script!= 'var TALK_TYPE = "group";'
	script!= 'eval(decodeURIComponent("' + encodeURIComponent('var GROUP = ' + JSON.stringify(group) + '; Object.freeze(GROUP);') + '"));'

block title
	= 'トーク: ' + group.name

block header
	i.fa.fa-comments-o.fa-flip-horizontal
	= group.name

block empty-stream-message
	| このグループにまだメッセージはありません
