extends ../page-base

block title
	=locale.sites.mobile.pages._i._settings._avatar.page_title

block header
	i.fa.fa-camera-retro
	=locale.sites.mobile.pages._i._settings._avatar.page_header_title

block forms
	img#avatar(src= me.avatarThumbnailUrl, alt='avatar')
	div.form#form
		h1
			i.fa.fa-upload
			=locale.sites.mobile.pages._i._settings._avatar.upload_form.title
		div.body
			input.ui-input-file(name='file', type='file', accept='image/*')
			progress
