div#misskey-album
	script(src='/resources/scripts/common/album.js')
	link(rel='stylesheet', href='/resources/styles/common/album.css')
	header
		form.uploader(action=config.apiUrl + '/album/upload', method='post', enctype='multipart/form-data', role='form')
			input(name='file', type='file', accept='*', multiple)
			button
				i.fa.fa-cloud-upload
				| アップロード
		nav
			ol.path
	div.browser
		div.context-menu.menu
			ol
				li
					i.fa.fa-folder
					| フォルダーを作成
		div.selection(role='presentation')
		ol.files
	div.uploads
		ol
