div#misskey-album
	script(src='/resources/scripts/common/album.js')
	link(rel='stylesheet', href='/resources/styles/common/album.css')
	header
		nav
			ol.path
				
	div.browser
		div.selection(role='presentation')
		ol.files
	form.upload-form(action=config.apiUrl + '/album/upload', method='post', enctype='multipart/form-data', role='form')
		input(name='file', type='file', accept='*')
		input.submit-button(type='submit', value='Uplad', role='button')
		