mixin user(user)
	div.user(data-user-id= user.id, data-is-following!= user.isFollowing.toString())
		div.avatar-area
			a.avatar-anchor(href= '/' + user.screenName)
				img.avatar(src= user.avatarUrl + '?size=48&quality=' + userSettings.displayImageQuality, alt='avatar')
		div.main
			a.name-anchor(href= '/' + user.screenName)
				p.name= user.name
			button.follow-button=locale.sites.desktop.pages._home.recommendation_users_widget.follow
