extends ../base
include ../../../common/widgets/users-list/users

block title
	= user.name + 'さんがフォローしているユーザー'

block header
	b= user.name
	| のフォロー

block user-content
	div#following
		+users(following)
