@import "../../../common/styles/ui";

html, #misskey-main {
	color: #000;
	background: #F1E9E2;
}

#user {
	display: block;

	.banner {
		display: block;
		position: relative;
		height: 128px;
		background-color: #222;
		background-repeat: no-repeat;
		background-position: center 50%;
		background-size: cover;
	}

	.body {
		display: block;

		.avatar-anchor {
			display: block;
			position: relative;
			margin: -32px 0 0 16px;

			.avatar {
				display: block;
				box-sizing: border-box;
				width: 80px;
				height: 80px;
				border: solid 4px #fff;
			}
		}
	}
}

#timeline {
	@import "../../../common/styles/timeline";
	padding: 8px;

	> .posts {
		> .post {
			&:first-child {
				border-radius: 6px 6px 0 0;
			}
		}
	}
}
