extends ../main

block meta
	script!= 'var TALK_TYPE = "user";'
	script!= 'eval(decodeURIComponent("' + encodeURIComponent('var OTHERPARTY = ' + JSON.stringify(otherparty) + '; Object.freeze(OTHERPARTY);') + '"));'

block title
	= 'トーク: ' + otherparty.name

block header
	i.fa.fa-comments
	= otherparty.name

block empty-stream-message
	| このユーザーとまだ会話したことはありません
