include ../post/smart/post

div.misskey-home-widget#widget-timeline(
		data-widget-not-allow-move='true',
		data-widget-not-allow-remove='true',
		data-widget-id='timeline',
		data-widget-name='タイムライン')
	div.timeline
		if timeline.length > 0
			div.posts
				each post in timeline
					+post(post)
		else
			p.empty
				| タイムラインに表示するコンテンツがありません。
				br
				| フォローしている人の投稿と、自分の投稿がここに表示されます。
