div.misskey-home-widget#widget-my-status(data-widget-id='my-status', data-widget-name='ステータス')
    header
        a.icon-anchor(href='/' + me.screenName)
            img.icon(src=me.iconUrl, alt='icon')
        h1= me.name
    nav(role='navigation')
        table.status
            tr
                td: a(href='/' + me.screenName)= me.postsCount
                td: a(href='/' + me.screenName + '/followings')= me.followingsCount
                td: a(href='/' + me.screenName + '/followers')= me.followersCount
            tr
                th Posts
                th Following
                th Followers
