extends ../../../ui

block content
	div#main-container
		main(role='main')
			block forms
		a.back-to-settings(href='/i/settings')
			i.fa.fa-angle-left
			= locale.sites.mobile.pages.i.settings.back_to_settings
