extends ../../../ui

block title
	| アカウント設定 - Misskey

block header
	i.fa.fa-cog
	| 設定

block content
	main(role='main')
		p#message
			| 何を設定しますか？
		.menu
			p.caption プロフィール
			.item: a(href='/i/settings/avatar')
				| アイコン
				i.angle.fa.fa-angle-right
			.item: a(href='/i/settings/banner')
				| ヘッダー画像
				i.angle.fa.fa-angle-right
			.item: a(href='/i/settings/name')
				| 名前
				i.angle.fa.fa-angle-right
			.item: a(href='/i/settings/comment')
				| コメント
				i.angle.fa.fa-angle-right
			.item: a(href='/i/settings/tags')
				| タグ
				i.angle.fa.fa-angle-right
			.item: a(href='/i/settings/location')
				| ロケーション
				i.angle.fa.fa-angle-right
			.item: a(href='/i/settings/website')
				| WebサイトURL
				i.angle.fa.fa-angle-right
		.menu
			p.caption モバイル
			.item: a(href='/i/settings/mobile-header-overlay')
				| ヘッダーのデザイン
				i.angle.fa.fa-angle-right
		.menu
			.item: a(href= config.signoutUrl)
				| ログアウト
