extends ../page-base

block title
	| タグの設定 - Misskey

block header
	i.fa.fa-tags
	| タグ

block forms
	form#form
		div.body
			p.caption 空白で区切って複数のタグを設定できます
			input.ui-input-text(name='tags', type='text', value= me.tags.join(' '))
			button.ui-button(type='submit')
				| 更新
