extends ../../../ui
include ../../../common/views/post/smart/post

block title
	= '「' + query + '」の検索結果'

block assets
	script!= 'var QUERY = atob("' + (new Buffer(query, 'utf8')).toString('base64') + '");'

block content
	main
		h1
			= '「' + query + '」の検索結果'
		div#posts
			if posts.length > 0
				div.posts
					each post in posts
						+post(post)
				button.read-more
					| もっと読み込む
			else
				p.no-result
					| 見つかりませんでした
