@import "../../../common";
@import "../../../common/styles/ui";
@import "../followers-and-followings-common/user-list";

html {
	color: #000;
	background-color: #eee;
}

main {
	display: block;
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
	padding: 16px 0;

	> .users {
		.user-list;
	}
}
