@import "../style";

#main-content {
	> .nav {
		display: block;
		margin: 0;
		padding: 0;
		list-style: none;
		background: #FFFBFB;

		&:after {
			content: "";
			display: block;
			clear: both;
		}

		> li {
			display: block;
			float: left;
			margin: 0;
			padding: 0;

			> a {
				display: block;
				padding: 8px;

				> i {
					margin-right: 4px;
				}
			}
		}
	}

	#timeline {
		@import "../../../common/styles/timeline";
	}
}
