@import "../style";

#timeline-types {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		display: inline-block;
		color: #694533;
	}
}

#timeline {
	@import "../../../common/styles/posts/pro/timeline";
}
