@import "../style";

#main-content {
	padding-top: 0;

	> .nav {
		display: block;
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			display: block;
			float: left;
			margin: 0;
			padding: 0;

			> a {
				display: block;
				padding: 8px;

				> i {
					margin-right: 4px;
				}
			}
		}
	}

	#timeline {
		@import "../../../common/styles/timeline";

		clear: both;
	}
}
