@import "../../common/styles/ui";

html, #misskey-main {
	color: #000;
	background: #F1E9E2;
}

#timeline {
	@import "../../common/styles/timeline";
	padding: 8px;

	> .posts {
		> .post {
			&:first-child {
				border-radius: 6px 6px 0 0;
			}
		}
	}
}

body > .streaming-info {
	position: fixed;
	bottom: 8px;
	right: 8px;
	margin: 0;
	padding: 6px 12px;
	font-size: 0.9em;
	color: #fff;
	background: rgba(0, 0, 0, 0.8);

	> i {
		margin-right: 0.25em;
	}
}