extends ../../layout
include ../../common/views/post/smart/post

block title
	| Misskey

block header
	i.fa.fa-home
	| Home

block body
	main(role='main')
		div#timeline
			div.posts
				if timeline.length > 0
					each post in timeline
						+post(post)
				else
					p.empty
						| タイムラインに表示するコンテンツがありません。
						br
						| フォローしている人の投稿と、自分の投稿がここに表示されます。
