extends ../../ui
include ../../common/views/post/smart/post

block title
	=locale.sites.mobile.pages.home.page_title

block assets
	script(src= config.webStreamingUrl + '/socket.io/socket.io.js')

block header
	i.fa.fa-home
	=locale.sites.mobile.pages.home.page_header_title

block action
	button.post.action: i.fa.fa-pencil-square-o

block content
	main
		div#timeline
			div.posts
				if timeline.length > 0
					each post in timeline
						+post(post)
				else
					p.empty
						| タイムラインに表示するコンテンツがありません。
						br
						| フォローしている人の投稿と、自分の投稿がここに表示されます。
			if timeline.length > 0
				button.read-more
					i.fa.fa-sort-amount-desc
					p=locale.sites.mobile.pages.home.read_more
