extends ../../ui
include ../../common/views/post/smart/post

block title
	| Misskey

block assets
	script(src= config.webStreamingUrl + '/socket.io/socket.io.js')

block header
	i.fa.fa-home
	| Home

block action
	button.post: i.fa.fa-pencil-square-o

block content
	main
		div#timeline
			div.posts
				if timeline.length > 0
					each post in timeline
						+post(post)
				else
					p.empty
						| タイムラインに表示するコンテンツがありません。
						br
						| フォローしている人の投稿と、自分の投稿がここに表示されます。
			button.read-more
				i.fa.fa-sort-amount-desc
				| Read more...?
