doctype html

html(lang='ja', dir='ltr')
	head
		include ../common/head
		title
			block title
		block head
	
	body
		if login
			div#misskey-create-status-form-back(role='presentation')
			div#misskey-create-status-form-container
				form#misskey-create-status-form(enctype='multipart/form-data', role='form')
					h1
						| 新しい投稿
					button.close-button(type='button', role='button')
						i.fa.fa-times
					div.me-icon-area
						img.icon(src=me.iconImageUrl, alt='icon', title=me.comment)
					div.main
						textarea(name='text', placeholder='What\'s up?', role='textbox', aria-multiline)
						div.image-attacher
							p
								i.fa.fa-picture-o
							input(name='image', type='file', accept='image/*')
						input.submit-button(type='submit', value!='Update &#xf1d8;', role='button', disabled)
					div.progress
						p.status
							i.fa.fa-spinner.fa-pulse
							span.text
						progress(form='misskey-create-status-form', value='0')
					div.image-preview-container
						div.image-preview
		include ../common/header
		div.contents
			block body
