extends ../../../../ui

block title
	| コメントの設定 - Misskey

block header
	i.fa.fa-cog
	| コメント

block content
	main(role='main')
		form#form
			input.ui-input-text(name='comment', type='text', value= me.comment)
			button(type='submit')
				| 更新
