extends ../../../ui
include ../../../common/views/talk/messages.pug

block assets
	script(src= config.streamingUrl + '/socket.io/socket.io.js')

block content
	main
		div#stream
			if messages.length == 0
				p#empty-stream
					i.fa.fa-info-circle
					block empty-stream-message
			+messages(messages)
		div#otherparty-status
		form#post-form
			textarea(name='text', placeholder='ここにメッセージを入力')
			div.uploads
			div.files
			button(type='submit', title='メッセージを送信')
				i.fa.fa-paper-plane
			button.attach-from-local(type='button', title='PCから画像を添付する')
				i.fa.fa-upload
			button.attach-from-album(type='button', title='アルバムから画像を添付する')
				i.fa.fa-folder-open
			input(name='file', type='file', accept='image/*')
