extends ../base

block root-meta
	meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
	block meta

block root-body
	noscript
		article#misskey-no-script-caution
			h1=locale.sites.mobile.common.no_script_caution.title
			p
				strong=locale.sites.mobile.common.no_script_caution.text
	block body
