extends ./base

block body
	if !noui
		- var headerOverlayStyle = userSettings.mobileHeaderOverlay != null
		-     ? 'url("' + config.resourcesUrl + '/mobile/common/images/header-overlay/' + userSettings.mobileHeaderOverlay + '.svgz")'
		-     : 'none';
		header#misskey-header
			if login && me.isSuspended
				p.account-suspended= locale.sites.mobile.common.account_suspended
			div.main(style={'background-image': headerOverlayStyle != null ? headerOverlayStyle : ''})
				button#open-misskey-nav-button(role='button'): i.fa.fa-bars
				h1
					block header
				block action
		nav#misskey-nav
			div.slidemenu-body
				div.slidemenu-content
					if login
						a.me(href= config.url + '/' + me.screenName)
							img.avatar(src= me.avatarUrl + '?size=128&quality=' + userSettings.displayImageQuality, alt='avatar')
							p.name= me.name
					div.links
						ul
							li.post: a(href= config.url + '/i/post')
								i.icon.fa.fa-pencil-square-o
								=locale.sites.mobile.common.nav.post
								i.angle.fa.fa-angle-right
						ul
							li.home: a(href= config.url)
								i.icon.fa.fa-home
								=locale.sites.mobile.common.nav.home
								i.angle.fa.fa-angle-right
							li.mentions: a(href= config.url + '/i/mentions')
								i.icon.fa.fa-at
								=locale.sites.mobile.common.nav.mentions
								i.angle.fa.fa-angle-right
							li.notifications: a(href= config.url + '/i/notifications')
								i.icon.fa.fa-bell-o
								=locale.sites.mobile.common.nav.notifications
								i.angle.fa.fa-angle-right
							li.talks: a(href= config.talkUrl)
								i.icon.fa.fa-comments-o
								=locale.sites.mobile.common.nav.talks
								i.angle.fa.fa-angle-right
						ul
							li.settings: a(href= config.searchUrl)
								i.icon.fa.fa-search
								=locale.sites.mobile.common.nav.search
								i.angle.fa.fa-angle-right
						ul
							li.settings: a(href= config.url + '/i/settings')
								i.icon.fa.fa-cog
								=locale.sites.mobile.common.nav.settings
								i.angle.fa.fa-angle-right
					p.manager
						| このセッションは
						b= workerId
						| が担当しました
					p.about
						a(href= config.aboutUrl)=locale.sites.mobile.common.nav.about_misskey

	div#misskey-main
		block content
