extends ../../../ui
include ../../../common/views/user-widget

block title
	= user.name + 'さんをフォローしているユーザー'

block meta
	meta(name='description', content= user.name + 'さんをフォローしているユーザー')
	meta(name='keywords', content='Misskey,' + user.screenName)

block content
	-
		function comma(str) {
			return String(str).replace( /(\d)(?=(\d\d\d)+(?!\d))/g, '$1,')
		}
	
	main(role='main')
		ol.users
			each follower in followers
				li.user
					+user-widget(follower)
