extends ../../ui

block title
	= post.user.name + 'さんの' + post.createdAt + 'の投稿'

block meta
	meta(name='keywords', content='Misskey')
	meta(name='description', content= post.user.name + 'さんの' + post.createdAt + 'の投稿')

block header
	= post.user.name + 'さんの' + post.createdAt + 'の投稿'

block content
	main(role='main')
		
