#misskey-album-container
	#misskey-album-background(role='presentation')
	#misskey-album
		header
			form.uploader(action=config.apiUrl + '/album/upload', method='post', enctype='multipart/form-data', role='form')
				input(name='file', type='file', accept='*', multiple)
				button
					i.fa.fa-cloud-upload
					| アップロード
			nav
				ol.path
			.chooser
				button.submit-button
					| 決定
		.browser
			.context-menu.menu
				ul
					li
						i.fa.fa-folder
						p フォルダーを作成
			.selection(role='presentation')
			ol.files
		.uploads
			ol
