extends ../layout

block title
	= post.user.name + 'さんの' + post.displayCreatedAt + 'の投稿'

block meta
	meta(name='keywords', content='Misskey')

block assets
	link(rel='stylesheet', href='/resources/desktop/styles/page/post.css')
	script(src='/resources/desktop/scripts/page/post.js')

block body
	main(role='main')
		button#read-after(role='button', title='これより後の投稿を読む'): i.fa.fa-chevron-up
		aside.timeline#after-timeline
		div#post!= statusHtml
		aside.timeline#before-timeline
		button#read-before(role='button', title='これより前の投稿を読む'): i.fa.fa-chevron-down
