doctype html

html(lang='ja', dir='ltr')
	head
		include ../common/head
		meta(name='description', content='Not found')
		title= 'Not found'
		link(rel='stylesheet', href='/resources/desktop/styles/page/user-not-found.css')
	
	body
		include ../common/header
		
		main(role='main')
			h1 Not found
			p 見つかりません。
