extends ../layouts/user
include ../lib/post/smart/post

block title
	= user.name

block pageAssets
	link(rel='stylesheet', href='/resources/desktop/styles/page/user.css')
	script(src='/resources/desktop/scripts/page/user-home.js')

block contents
	div#sub-contents
		div#friend-form
			if login
				if me.id != user.id
					if user.isFollowingMe
						p#friend-status
							i.fa.fa-heart
							| フォローされています
					if user.isFollowing
						button#friend-button.following フォローしています
					else
						button#friend-button.not-following フォローする
				else
					p#friend-status
						i.fa.fa-smile-o
						| You
			else
				p
					| このユーザーをフォローするにはログインしてください
						
		if recentPhotoStatuses != null && recentPhotoStatuses.length > 0
			section#photos
				h2
					i.fa.fa-camera
					| Photos
				//
					ol.photos
						each status in recentPhotoStatuses
							li.photo(style='background-image: url("' + status.imageUrls[0] + '")', title=status.displayCreatedAt)
								a(href=config.url + '/' + user.screenName + '/status/' + status.id)
	div#main-content
		div#timeline
			if timeline.length > 0
				ol.posts
					each post in timeline
						+post(post)
			else
				p.empty
					| このユーザーはまだ何も投稿していないようです。
