-
	function parse(text) {
		'use strict';
		if (text === null) {
			return null;
		}
		text = analyzeHashtags(analyzeMentions(escapeHtml(text).replace(/https?:\/\/[\w\/:%#\$&\?\(\)~\.=\+\-]+/g, function(url) {
			return '<a href="' + url + '" target="_blank" class="url">' + url + '</a>';
		}))).replace(/(\r\n|\r|\n)/g, '<br>');
		return text;
	}

	function analyzeMentions(text) {
		'use strict';
		return text.replace(/@([a-zA-Z0-9\-]+)/g, function(arg, screenName) {
			return '<a href="' + config.url + '/' + screenName + '" class="mention">@' + screenName + '</a>';
		});
	}

	function analyzeHashtags(text) {
		'use strict';
		return text.replace(/#(\S+)/g, function(arg, tag) {
			return '<a href="' + config.url + '/search/hashtag:' + tag '" class="hashtag">#' + tag + '</a>';
		});
	}

mixin content(post)
	case post.type
		when 'status'
			div.text!= parse(post.text)
		when 'photo'
			div.text!= parse(post.text)
			ol.photos
				each photo in post.photos
					li.photo
						img.image(src= photo.url, alt= photo.name, title= photo.name)
