extends ../../ui

mixin widget(widgets)
	if widgets != null && widgets.length > 0
		each widget in widgets
			!= widget

block title
	| Misskey

block assets
	script(src= config.webStreamingUrl + '/socket.io/socket.io.js')

block content
	main
		div#contents
			if widgets.left != null && widgets.left.length > 0
				div#left-contents
					+widget(widgets.left)
			div#main-contents(role='main')
				+widget(widgets.center)
			if widgets.right != null && widgets.right.length > 0
				div#right-contents
					+widget(widgets.right)

block shortcuts
	dt
		kbd: kbd t
	dd タイムラインの最新の投稿にフォーカス

	dt
		| 投稿にフォーカスした状態で
		kbd: kbd ↑
		kbd: kbd ↓
	dd その方向の投稿にフォーカス

	dt
		| 投稿にフォーカスした状態で
		kbd: kbd Enter
	dd 投稿を開く/閉じる

	dt
		| 投稿にフォーカスした状態で
		kbd: kbd r
	dd 返信フォームにフォーカス

	dt
		| 返信フォームにフォーカスした状態で
		kbd: kbd Esc
	dd 投稿にフォーカスをもどす

	dt
		| 投稿にフォーカスした状態で
		kbd: kbd f
		| または
		kbd: kbd l
	dd Likeする

	dt
		| 投稿にフォーカスした状態で
		kbd: kbd s
		| または
		kbd: kbd e
	dd Repostする
