mixin content(post)
	case post.type
		when 'status'
			div.text!= parsePostText(post.text, post.isPlain)
		when 'photo'
			div.text!= parsePostText(post.text, post.isPlain)
			ol.photos
				each photo in post.photos
					li.photo
						img.image(src= photo.url, alt= photo.name, title= photo.name)
