extends ../../base

block title
	| Misskeyでページを共有する
		
block body
	main(role='main')
		form#form
			img.avatar(src= me.avatarThumbnailUrl, alt='')
			h1
				| 「
				= title
				| 」を共有
			textarea(required)
				= url
			button(type='submit')
				| 投稿
	footer
