extends ../../../../ui

block title
	= folder.name

block header
	i.fa.fa-folder-open
	= folder.name

block action
	a.action(href= config.url + '/i/upload?folder=' + folder.id): i.fa.fa-upload

block nav-extend
	div#album-extended-nav
		p.caption
			i.fa.fa-angle-down
			= locale.sites.mobile.pages._i._album.extended_nav
		button.button.rename-folder
			i.fa.fa-pencil
			= locale.sites.mobile.pages._i._album._folder.rename
		button.button.move-folder
			i.fa.fa-paper-plane-o
			= locale.sites.mobile.pages._i._album._folder.move
		div.separator
		button.button.create-folder
			i.fa.fa-plus
			= locale.sites.mobile.pages._i._album.create_folder

block assets
	script!= 'eval(decodeURIComponent("' + encodeURIComponent('var FOLDER = ' + JSON.stringify(folder) + '; Object.freeze(FOLDER);') + '"));'

block content
	nav#nav
		ol.items
			li.root
				a(href='/i/album')
					i.fa.fa-cloud
					= locale.sites.mobile.pages._i._album.nav_root
			if folder.parent != null
				mixin x(folder)
					if folder.parent != null
						+x(folder.parent)
					li.separator: i.fa.fa-angle-right
					li.folder
						a(href='/i/album/folder/' + folder.id)= folder.name
				+x(folder.parent)
			li.separator: i.fa.fa-angle-right
			li.folder
				= folder.name
	if folder.parent != null
		a#up(href='/i/album/folder/' + folder.parent.id)
			p
				i.fa.fa-level-up.fa-flip-horizontal
				| ..
	else
		a#up(href='/i/album')
			p
				i.fa.fa-level-up.fa-flip-horizontal
				| ..
	div#loading.
		<div class="spinner">
			<div class="dot1"></div>
			<div class="dot2"></div>
		</div>
	ol#folders
	ol#files
