extends ../_article-base/view

block title
	= locale.common.about.articles.technologies.title

block header
	i.fa.fa-info-circle
	= locale.common.about.articles.technologies.title

block article
	include ../../../../common/articles/technologies
