extends ../../../ui

block title
	| テクノロジー

block header
	i.fa.fa-info-circle
	| テクノロジー

block content
	div#main-container
		main(role='main')
			include ../../../../common/about-contents/technologies
