doctype html

- var htmlSchema = 'http://schema.org/WebPage';

block vars

!= '<!-- このセッションは ' + workerId + ' が担当しました -->'

html(
		lang=lang,
		dir='ltr',
		itemscope,
		itemtype= htmlSchema)

	head(prefix='og: http://ogp.me/ns#')
		include ./head
		
		block meta
		
		title
			block title
		
		block assets
	
	body
		noscript
			article#misskey-no-script-caution
				h1 JavaScriptを有効にしてください
				p
					strong
						| JavaScriptが無効になっているか、利用できない環境のようです。
						| Misskeyの利用にはJavaScriptが有効になっている必要があります。
		block body
		
		script!= 'var LOCALE = ' + JSON.stringify(locale) + '; Object.freeze(LOCALE);'

!= '\r\n<!-- Misskeyの開発に興味がありますか？ Gitリポジトリはこちらです: https://github.com/MissKernel/Misskey -->'
