doctype html

- var htmlSchema = 'http://schema.org/WebPage';

block vars

!= '<!-- このセッションは ' + workerId + ' が担当しました -->'

html(
		lang='ja',
		dir='ltr',
		itemscope,
		itemtype= htmlSchema)

	head(prefix='og: http://ogp.me/ns#')
		include ./head
		
		block meta
		
		title
			block title
		
		block assets
	
	body
		noscript
			article
				h1 JavaScriptを有効にしてください
				p
					strong
						| JavaScriptが無効になっているか、利用できない環境のようです。
						| Misskeyの利用にはJavaScriptが有効になっている必要があります。
		block body
