doctype html

- var htmlSchema = 'http://schema.org/WebPage';

block vars

!= '<!-- このセッションは ' + workerId + ' が担当しました -->'

html(
		lang='ja',
		dir='ltr',
		itemscope,
		itemtype= htmlSchema)

	head(prefix='og: http://ogp.me/ns#')
		include ./head
		
		block meta
		
		title
			block title
		
		block assets
	
	body
		block body
