extends ../layout
include ../../../common/views/post/smart/post.pug

block title
	= user.name

block contents
	div#sub-contents
		div.body
			if user.location != null && user.location != ''
				p.location
					i.fa.fa-map-marker
					= user.location
			
			if user.url != null && user.url != ''
				p.url
					a(href= user.url, target='_blank')
						i.fa.fa-link
						= user.url
			
			if user.tags.length > 0
				ul.tags
					each tag in user.tags
						li.tag: a(href= config.searchUrl + '/user-tag/' + tag)
							i.fa.fa-tag
							= tag
			else
				p.empty-tags
					| タグは設定されていません。
			
			p.created-at
				i.fa.fa-calendar
				time= user.createdAt
			
			if photoPosts != null && photoPosts.length > 0
				section#photos
					h2
						i.fa.fa-camera
						| Photos
					ol.photos
						each post in photoPosts
							each photo in post.photos
								li.photo(style='background-image: url("' + photo.thumbnailUrl + '")', title= post.createdAt)
									a(href= config.url + '/' + user.screenName + '/' + post.id)

	div#main-content
		ul.nav
			li.active: a(href= config.url + '/' + user.screenName + '/')
				i.fa.fa-comment
				= locale.sites.desktop.pages._user._home.timeline
			li: a(href= config.url + '/' + user.screenName + '/')
				i.fa.fa-comments-o
				= locale.sites.desktop.pages._user._home.all
			li: a(href= config.url + '/' + user.screenName + '/')
				i.fa.fa-fire
				= locale.sites.desktop.pages._user._home.popular
		div#timeline
			if timeline.length > 0
				div.posts
					each post in timeline
						+post(post)
				button.read-more
					| もっと読み込む
			else
				p.empty
					| このユーザーはまだ何も投稿していないようです。
