div.misskey-home-widget#widget-big-analog-clock(data-widget-id='big-analog-clock', data-widget-name='大きなアナログ時計', data-user-color= (rootUser != null) ? rootUser.color : login ? me.color : config.themeColor)
	canvas#widget-big-analog-clock-canvas(width='270', height='200')
