article.misskey-home-widget#widget-donate(data-widget-id='donate', data-widget-name=locale.sites.desktop.pages._home.donate_widget.name)
	h1
		i.fa.fa-heart
		=locale.sites.desktop.pages._home.donate_widget.title
	p!=locale.sites.desktop.pages._home.donate_widget.text
