div.misskey-home-widget#widget-small-analog-clock(data-widget-id='small-analog-clock', data-widget-name='小さなアナログ時計', data-user-color= (rootUser != null) ? rootUser.color : login ? me.color : config.themeColor)
	canvas#widget-small-analog-clock-canvas(width='254', height='100')
