extends ../base
include ../../../common/widgets/users-list/users

block title
	= user.name + 'さんをフォローしているユーザー'

block header
	b= user.name
	| のフォロワー

block user-content
	div#followers
		if followers.length == 0
			p.empty
				| フォロワーはいないようです。
		else
			+users(followers)

			button.read-more
				i.fa.fa-sort-amount-desc
				p もっと読み込む
