extends ../../layout

block title
	| Oops

block meta
	meta(name='description', content='Something happened')

block body
	main(role='main')
		h1
			i.fa.fa-exclamation-triangle
			| 技術的な問題が発生しています。
		if err
			details
				summary 詳細情報
				pre= err
