a.url-preview(title= url, href= url, target='_blank', lang= lang)
	if image
		div.thumbnail(style= 'background-image: url(' + image + ');')
	h1.title= title
	p.description= description
	p.site-name= siteName
	if icon
		img.icon(src= icon)
