extends ../../layout
include ../../common/views/post/detail/post

block title
	= post.user.name + 'さんの' + post.createdAt + 'の投稿'

block meta
	meta(name='keywords', content='Misskey')

block content
	main(role='main')
		button#read-after(role='button', title='これより後の投稿を読む'): i.fa.fa-chevron-up
		aside.timeline#after-timeline
		div#post
			+post(post)
		aside.timeline#before-timeline
		button#read-before(role='button', title='これより前の投稿を読む'): i.fa.fa-chevron-down
