extends ../_article-base/view

block title
	= locale.common.about.articles.license.title

block header
	i.fa.fa-info-circle
	= locale.common.about.articles.license.title

block article
	include ../../../../common/articles/license
