extends ../../../ui
include ../../../common/views/post/smart/post.pug

block title
	| 検索結果: 
	= query

block header
	i.fa.fa-search
	= query

block assets
	script!= 'var QUERY = decodeURIComponent("' + encodeURIComponent(query) + '");'

block content
	main(role='main')
		form#form(action= config.searchUrl, method='GET')
			input.ui-input-text(type='text', name='q', value=query, placeholder='キーワードを入力して検索', equired)
		div#stream
			div.posts
				if posts.length > 0
					each post in posts
						+post(post)
				else
					p.empty
						| 見つかりませんでした！
			if posts.length > 0
				button.read-more
					i.fa.fa-sort-amount-desc
					p もっと読み込む
