@import "../../../common/styles/ui";

html, #misskey-main {
	color: #8C8079;
	background: #F1E9E2;
}

#main-container {
	padding: 8px;

	> main {
		display: block;
		box-sizing: border-box;
		margin: 0 auto;
		max-width: 500px;

		> #form {
			padding: 8px 12px;
			background: #fff;
			border-radius: 8px;

			h1 {
				display: block;
				margin: 0 0 16px 0;
				padding: 8px;
				font-size: 1em;
				color: #868B90;
				border-bottom: solid 1px rgba(0, 0, 0, 0.1);

				> i {
					margin-right: 0.25em;
				}
			}

			.body {
				padding: 0 4px 0 4px;
				margin-bottom: 8px;
				color: #222;
				font-size: 1em;

				#file {
					margin: 0;
				}

				#files {
					display: block;
					margin: 8px 0 0 0;
					padding: 0;
					list-style: none;

					&:empty {
						display: none;
					}

					> li {
						display: block;
						margin: 0;
						padding: 8px;
						border-top: solid 1px #ECE6E4;

						p {
							display: block;
							margin: 0;

							.status {
								margin-left: 8px;
								opacity: 0.7;
							}
						}
					}
				}

				progress {
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					display: block;
					margin: 8px 0 0 0;
					width: 100%;
					height: 8px;
					border: none;
					border-radius: 4px;
					overflow: hidden;

					&::-webkit-progress-value {
						background-color: $theme-color;
					}

					&::-webkit-progress-bar {
						background-color: #fff;
					}

					&:not([value])::-webkit-progress-bar {
						background-image: url("@{resources-url}/mobile/common/images/indeter.gif");
					}
				}
			}
		}
	}

	@media (min-width: 516px) {
		padding: 16px 8px;
	}
}
