include ./file-icon

- function bytesToSize(bytes) {
-    var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
-    if (bytes == 0) return '0Byte';
-    var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
-    return Math.round(bytes / Math.pow(1024, i), 2) + sizes[i];
- }

- function contrast(color) {
-   var r = parseInt(color.substr(1, 2), 16);
-   var g = parseInt(color.substr(3, 2), 16);
-   var b = parseInt(color.substr(5, 2), 16);
-   return r + g + b > 384 ? '#000' : '#fff';
- }

li.item.file(
		data-file-id= file.id
		data-cursor= file.cursor)
	- var url = config.url + '/i/album/file/' + file.id
	a(href= url)
		div.body
			case file.mimeType
				when 'image/jpeg'
				when 'image/png'
				when 'image/gif'
				when 'image/webp'
				when 'image/tiff'
				when 'image/bmp'
					div.thumbnail(style={'background-image': 'url(#{file.thumbnailUrl})'})
				default
					div.thumbnail
						i.fa.fa-file-o
			div.body
				p.name= file.name
				if file.tags.length > 0
					ul.tags
						each tag in file.tags
							li.tag(style={background: tag.color, color: contrast(tag.color)})= tag.name
				footer
					p.mime-type
						+file-icon(file)
						= file.mimeType
					p.separator(role='presentation')
					p.data-size
						= bytesToSize(file.dataSize)
					p.separator(role='presentation')
					p.created-at
						i.fa.fa-clock-o
						time(datetime= file.createdAt, itemprop='dateCreated', pubdate, data-display-type='relative')
							= file.createdAt
