@import "../../../common/styles/ui";
@import (multiple) "./nav";

html, #misskey-main {
	color: #8C8079;
	background: #fff;
}

#loading {
	.spinner {
		margin: 100px auto;
		width: 40px;
		height: 40px;
		position: relative;
		text-align: center;

		-webkit-animation: sk-rotate 2.0s infinite linear;
		animation: sk-rotate 2.0s infinite linear;
	}

	.dot1, .dot2 {
		width: 60%;
		height: 60%;
		display: inline-block;
		position: absolute;
		top: 0;
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: 100%;

		-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
		animation: sk-bounce 2.0s infinite ease-in-out;
	}

	.dot2 {
		top: auto;
		bottom: 0;
		-webkit-animation-delay: -1.0s;
		animation-delay: -1.0s;
	}

	@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
	@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

	@-webkit-keyframes sk-bounce {
		0%, 100% { -webkit-transform: scale(0.0) }
		50% { -webkit-transform: scale(1.0) }
	}

	@keyframes sk-bounce {
		0%, 100% {
			transform: scale(0.0);
			-webkit-transform: scale(0.0);
		} 50% {
			transform: scale(1.0);
			-webkit-transform: scale(1.0);
		}
	}
}

#files {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;

	> .file {
		display: block;
		margin: 0;
		padding: 0;
		background: #fff;

		> a {
			display: block;
			padding: 16px;
			border-bottom: solid 1px #eee;

			&:after {
				content: "";
				display: block;
				clear: both;
			}

			> .thumbnail {
				display: block;
				float: left;
				width: 64px;
				height: 64px;
				background-size: cover;
				background-position: center center;
			}

			> .body {
				display: block;
				float: left;
				width: ~"calc(100% - 72px)";
				margin-left: 8px;

				> .name {
					display: block;
					margin: 0;
					padding: 0;
					font-weight: bold;
					color: #555;
					text-overflow: ellipsis;
					word-wrap: break-word;
				}

				> footer {
					display: block;
					margin: 4px 0 0 0;
					font-size: 0.7em;

					> .separator {
						display: inline;
						margin: 0;
						padding: 0 4px;
						color: #CDCDCD;
					}

					> .mime-type {
						display: inline;
						margin: 0;
						padding: 0;
						color: #9D9D9D;

						> i {
							margin-right: 4px;
						}
					}

					> .data-size {
						display: inline;
						margin: 0;
						padding: 0;
						color: #9D9D9D;
					}

					> .created-at {
						display: inline;
						margin: 0;
						padding: 0;
						color: #BDBDBD;

						> i {
							margin-right: 2px;
						}
					}
				}
			}
		}
	}
}
