extends ../../../ui

block title
	=locale.sites.mobile.pages._i._album.page_title

block header
	i.fa.fa-cloud
	=locale.sites.mobile.pages._i._album.page_header_title

block action
	a.action(href= config.url + '/i/upload'): i.fa.fa-upload

block content
	nav#nav
		ol.items
			li.item
				a(href='/i/album')= locale.sites.mobile.pages._i._album.nav_root
	ol#files
