extends ../../../ui

block title
	=locale.sites.mobile.pages._i._album.page_title

block header
	i.fa.fa-cloud
	=locale.sites.mobile.pages._i._album.page_header_title

block action
	a.action(href= config.url + '/i/upload'): i.fa.fa-upload

block assets
	if choose !== undefined && choose !== null
		script!= 'var CHOOSE = "' + choose + '"; Object.freeze(CHOOSE);'
	else
		script!= 'var CHOOSE = null; Object.freeze(CHOOSE);'

block nav-extend
	div#album-extended-nav
		p.caption
			i.fa.fa-angle-down
			= locale.sites.mobile.pages._i._album.extended_nav
		button.button.create-folder
			i.fa.fa-plus
			= locale.sites.mobile.pages._i._album.create_folder

block content
	if choose === 'folder'
		p#plz-choose-folder
			i.fa.fa-info-circle
			= locale.sites.mobile.pages._i._album.plz_choose_folder
	nav#nav
		ol.items
			li.root
				a(href='/i/album')
					i.fa.fa-cloud
					= locale.sites.mobile.pages._i._album.nav_root

	div#loading.
		<div class="spinner">
			<div class="dot1"></div>
			<div class="dot2"></div>
		</div>

	ol#folders
	ol#files

	if choose === 'folder'
		div#choose-folder
			button#choose-folder-button
				i.fa.fa-check
				= locale.sites.mobile.pages._i._album.choose_folder
