extends ../../ui

block title
	| Misskey Forum

block meta
	meta(name='keywords', content='Misskey, Forum, BBS')
	meta(name='description', content='Misskey Forum')

block content
	main(role='main')
		header
			h1 Misskey Forum
