doctype html

html(lang=me.lang, dir='ltr', itemscope, itemtype='http://schema.org/WebPage', data-user-id= me.id)
	head(prefix='og: http://ogp.me/ns#')
		include ../../common/head
		title Misskey アルバム
		link(rel='stylesheet', href='/resources/desktop/styles/page/i/album.css')
		
	body
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		h1 test
		include ../../common/album
