extends ../../../ui

block title
	=locale.sites.mobile.pages.i.post.page_title

block header
	i.fa.fa-pencil
	=locale.sites.mobile.pages.i.post.page_header_title

block content
	main(role='main')
		form#form
			textarea.ui-textarea#textarea(name='text', placeholder='What\'s up?', role='textbox', aria-multiline)
			input.ui-input-file(name='file', type='file', accept='image/*')
			button.ui-button(type='submit')
				span.text=locale.sites.mobile.pages.i.post.post
				i.fa.fa-paper-plane
			div.progress
				progress
				ol.log
