extends ../main

block meta
	script!= 'var TALK_TYPE = "group";'
	script!= 'var GROUP = ' + JSON.stringify(group) + ';'

block title
	= 'トーク: ' + group.name

block empty-stream-message
	| このグループにまだ投稿はありません

block header
	div.kyoppie
		h1
			= group.name
		ol.members
			each member in group.members
				li.member(title= member.name): a(href= config.url + '/' + member.screenName, target='_blank')
					img.avatar(src= member.avatarThumbnailUrl, alt= member.screenName)
	div.nav.dropdown
		button
			i.fa.fa-bars
		nav.dropdown-content
			if group.owner.id == me.id
				ul.menu
					li: p
						i.fa.fa-cog
						| グループの設定
					li: p
						i.fa.fa-users
						| メンバーの管理
			ul.menu
				li: p.invite
					i.fa.fa-user-plus
					| 招待
				li: p
					i.fa.fa-minus-circle
					| グループを離脱
