extends ../../ui

block title
	| About

block header
	i.fa.fa-info-circle
	| About

block content
	div#main-container
		main(role='main')
			ul
				li: a(href='/technologies')
					| テクノロジー
					i.angle.fa.fa-angle-right
				li: a(href='/system')
					| システム情報
					i.angle.fa.fa-angle-right
				li: a(href='/license')
					| ライセンス
					i.angle.fa.fa-angle-right
