extends ../../ui

block title
	| About

block header
	i.fa.fa-info-circle
	| About

block content
	div#main-container
		main(role='main')
			ul
				li: a(href='/technologies') テクノロジー
				li: a(href='/license') ライセンス
