extends ../../../../base
include ../common.pug

block title
	| トーク
		
block body
	div#search(role='search')
		div.form
			label(for='search-input')
				i.fa.fa-search
			input#search-input(type='search', placeholder='ユーザーを探してトークを開始', title='ユーザー名を入力してユーザーを探します')
		div.result
	main(role='main')
		if messages != null && messages.length > 0
			+talks(messages)
		else
			p#empty-histories
				| 履歴はありません。
				br
				| ユーザーを検索して、いつでもトークを開始できます。
	nav#nav
		ul
			li: a(href='/')
				i.fa.fa-clock-o
				p 履歴
			li.active: a
				i.fa.fa-user
				p ユーザー
			li: a(href='/i/groups')
				i.fa.fa-users
				p グループ
			li: a(href='/i/group/create')
				i.fa.fa-plus
				p グループを作成
