extends ../../../../ui

block title
	| 名前の設定 - Misskey

block header
	i.fa.fa-cog
	| 名前

block content
	main(role='main')
		form#form
			input.ui-input-text(name='name', type='text', value= me.name)
			button.ui-button(type='submit')
				| 更新
